/* Bakgrundsbild är tillagd */
body{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    margin: 30px;
}

#header{
    display: flex;
    justify-content: center;
    gap: 5px;
    height: 60px;
}

#ett{
    background-image: url(./bolognese.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;

}

#två{
    background-image: url(./Musslor.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;
}

#tre{
    background-image: url(./ravioli.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;
}

#heading{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    color: #4361ee;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: "Jost";
    color: #4361ee;
    padding-top: 0%;
    margin-top: 0%;
}

#pasta{
    display: flex;
    justify-content: center;
    margin: 15px;
}

#filterPasta{
    display: flex;
    justify-content: center; 
}

.newDiv{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
        width: 800px;
        align-items: center;   
        font-family: 'Domine';
        padding: 10px;
    }

.newDiv div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

#headers{
    width: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    gap: 30px;
    background-color: #4361ee;
    margin-top: 20px;
    color: white;
    }

#headers > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;   
}
    
button{
    color: black;
    background-color: bisque;
    border-radius: 20px;
}

#pastaChart{
    width:1000px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #e6ccb2;

}
 
#containter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
 